<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="farouter">
<div id="outer">
<div id="wrap">
<div id="headermain">

<h1 id="header">Blog App</h1>

</div>

<div id="hmenu">
<div id="hnav">

<ul id="navlist">
<li><a href="">My Diary</a></li>
<li><a href="">About Me</a></li>
<li><a href="">The Idea</a></li>
<li><a href="">Contact Me</a></li>
<li><a href="">Links</a></li>
</ul>


</div></div>
<%= yield %>

<div id="main">
<div id="content">

<div id="nav">
	

 	<div style="color:#ccc">
	<br/><br/>
<small>Designed by <a href="http://www.kumi.co.nr" style="color:#aaa;font-size:0.95em">Kumiko</a>
</small>
	
 </div>
</div>
<div style="width:400px">

<br/>
</div>
</div>
</div>
<div id="menu">





</div>


<div id="clearer">&nbsp;</div>
<div id="footer">


</div>
</div>
</div>
</div>
  </body>
</html>
